[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/KyleBrandon/Command-T.git
[submodule "vim/bundle/dash.vim"]
	path = vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/KyleBrandon/syntastic.git
[submodule "vim/bundle/funcoo.vim"]
	path = vim/bundle/funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "vim/bundle/tern_for_vim"]
	path = vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-maven-plugin"]
	path = vim/bundle/vim-maven-plugin
	url = https://github.com/KyleBrandon/vim-maven-plugin.git
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/UltiSnips"]
	path = vim/bundle/UltiSnips
	url = https://github.com/KyleBrandon/ultisnips.git
